/* common to all pages header */

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #716767;
  color: #000;
  font-weight: 600;
  width: 100%;;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}




/* Problems page */

/* Reset */
* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

/* Center page */
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
}

/* Modal box */
.modal {
  background: white;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Form layout */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Inputs */
.form input,
.form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* Button */
.form button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background: #333;
}


.logo {
  font-size: 24px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.heading{
    padding-left: 30px;

}
/* Card css */
.card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(11, 11, 11, 0.08);
}

.card-label {
  font-size: 18px;
  font-weight: 650;
  color: #575e6b;
  margin-bottom: 6px;
}

.card-value {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
}



/* dashboard page */
.dashboard {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 24px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.stats-grid {
  display: flex;
  flex-direction: column;  
  gap: 16px;                
  width: 100%;        
}
